# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.LightsaberParry3D.iml
# Datasource local storage ignored files
/../../../../../../../../:\UnityProject\CodeChallenges\FireByte\LightsaberParry3D\.idea\.idea.LightsaberParry3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
